<header id="header">
    <div class="headerbar">
        <div class="headerbar-left">
            <ul class="header-nav header-nav-options">
                <li class="header-nav-brand">
                    <div class="brand-holder">
                        <a routerLink="/home">
                            <img src="assets/img/logo.png" class="logo">
                        </a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="headerbar-right">
            <ul class="header-nav header-nav-options">
                <li style="height: 64px;">
                    <a routerLink="/home" class="nav-item">INICIO</a>
                </li>
                <li style="height: 64px;">
                    <a routerLink="/licence" class="nav-item">LICENCIAS</a>
                </li>
            </ul>
            <ul class="header-nav header-nav-profile">
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
                        <img src="assets/img/avatar.png" alt="" />
                        <span class="profile-info">
                            Administrador Gral.
                        </span>
                    </a>
                    <ul class="dropdown-menu animation-dock">
                        <li>
                            <a (click)="closeSession()" style="cursor: pointer;">
                                <i class="fa fa-fw fa-power-off text-danger"></i> Cerrar sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
