<body class="menubar-hoverable header-fixed menubar-pin ">
    <app-header></app-header>

    <div id="base" class="base">


        <div class="offcanvas">
        </div>

        <div id="content">
            <section>
                <div class="section-body">
                    <div class="row">
                        <form class="form form-validate" (submit)="newClient()" #newClientForm="ngForm">
                            <div class="col-md-12">

                                <div class="card">
                                    <div class="card-head style-accent">
                                        <header>Nuevo Cliente</header>
                                    </div>
                                    <div class="card-body">

                                        <div class="form-group" style="text-align: -webkit-center;">
                                            <img class="img-circle img-responsive img-producto" [src]="data.image" alt="">
                                            <input [(ngModel)]="inputAvatar" (change)="updateAvatar($event)" type="file" accept="image/*" name="file" id="file" class="inputfile"
                                            />
                                            <label for="file" class="btn ink-reaction btn-floating-action btn-default-dark btn-edit" style="position: relative;box-shadow: 0 1px 3px 0 rgb(68, 68, 68);opacity: 1;">
                                                <i class="md md-edit"></i>
                                            </label>
                                        </div>
                                        <div class="row" *ngIf="isChangeAvatar">
                                            <div class="col-sm-8 text-center">
                                                <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
                                            </div>
                                            <div class="col-sm-4 text-center">
                                                <button type="button" class="btn ink-reaction btn-raised btn-primary btn-block" (click)="aceptarImagen()">Aceptar</button>
                                                <button type="button" class="btn btn-flat btn-primary ink-reaction btn-block" (click)="hideCrop()">Cancelar</button>
                                            </div>
                                        </div>

                                        <em class="text-caption text-right">Todos los campos marcados con (*) son obligatorios</em>

                                        <div class="col-md-6">
                                            <h3>Datos del cliente</h3>
                                            <div class="form-group">
                                                <input class="form-control" id="rut" name="rut" type="text" required [(ngModel)]="json.rut">
                                                <label for="rut">*Rut empresa</label>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" id="nombre_empresa" name="nombre_empresa" type="text" required [(ngModel)]="json.nombre_empresa">
                                                <label for="nombre_empresa">*Nombre empresa</label>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" id="razon" name="razon" type="text" required [(ngModel)]="json.razon">
                                                <label for="razon">*Razon social</label>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" id="giro" name="giro" type="text" required [(ngModel)]="json.giro">
                                                <label for="giro">*Giro</label>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control" type="email" [(ngModel)]="json.correo_empresa" required name="correo_empresa">
                                                        <label for="correo_empresa">*Correo de contacto</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control" type="number" [(ngModel)]="json.telefono_empresa" name="telefono_empresa">
                                                        <label for="telefono_empresa">Télefono de contacto</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" [(ngModel)]="json.direccion_empresa" required name="direccion_empresa">
                                                        <label for="direccion_empresa">*Dirección de la empresa</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" [(ngModel)]="json.comuna_empresa" required name="comuna_empresa">
                                                        <label for="comuna_empresa">*Comuna</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" id="geolocalizacion" name="geolocalizacion" type="text" required [(ngModel)]="json.geolocalizacion">
                                                <label for="geolocalizacion">*Geolocalizacion</label>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <h3>Datos de persona a cargo</h3>
                                            <div class="form-group">
                                                <input class="form-control" id="rut_cargo" name="rut_cargo" type="text" required [(ngModel)]="json.rut_cargo">
                                                <label for="rut_cargo">*Rut persona a cargo</label>
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control" id="nombre_cargo" name="nombre_cargo" type="text" required [(ngModel)]="json.nombre_cargo">
                                                <label for="nombre_cargo">*Nombre</label>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" [(ngModel)]="json.paterno_cargo" required name="paterno_cargo">
                                                        <label for="paterno_cargo">*Apellido paterno</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" [(ngModel)]="json.materno_cargo" name="materno_cargo">
                                                        <label for="materno_cargo">Apellido materno</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control" type="email" [(ngModel)]="json.correo_cargo" required name="correo_cargo">
                                                        <label for="correo_cargo">*Correo electrónico</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control" type="number" [(ngModel)]="json.telefono_cargo" name="telefono_cargo">
                                                        <label for="telefono_cargo">Télefono</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" [(ngModel)]="json.direccion_cargo" required name="direccion_cargo">
                                                        <label for="direccion_cargo">*Dirección</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control" type="text" [(ngModel)]="json.cargo_cargo" name="cargo_cargo">
                                                        <label for="cargo_cargo">Puesto de trabajo(cargo)</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-actionbar">
                                        <div class="card-actionbar-row">
                                            <i class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf="ifLoading"></i>
                                            <span *ngIf="ifLoading">Creando cliente</span>
                                            <button type="submit" class="btn ink-reaction btn-primary" [disabled]="!newClientForm.form.valid">Crear cliente</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>

        <div id="menubar" class=" ">
            <div class="menubar-fixed-panel">
                <div>
                    <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                        <i class="fa fa-bars"></i>
                    </a>
                </div>
                <div class="expanded">
                    <span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
                </div>
            </div>
            <div class="menubar-scroll-panel">
                <ul id="main-menu" class="gui-controls">
                    <li>
                        <a [routerLink]="['/administrador', idAdministrador]">
                            <div class="gui-icon">
                                <i class="md md-home"></i>
                            </div>
                            <span class="title">Inicio</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/agendamiento', idAdministrador]">
                            <div class="gui-icon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <span class="title">Agendado</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/equipo', idAdministrador]">
                            <div class="gui-icon">
                                <i class="fa fa-users"></i>
                            </div>
                            <span class="title">Equipo técnico</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/clientes', idAdministrador]">
                            <div class="gui-icon">
                                <i class="glyphicon glyphicon-user"></i>
                            </div>
                            <span class="title">Clientes</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/ordenes', idAdministrador]">
                            <div class="gui-icon">
                                <i class="md md-format-list-bulleted"></i>
                            </div>
                            <span class="title">Ordenes de trabajo</span>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['/parametros', idAdministrador]">
                            <div class="gui-icon">
                                <i class="md md-aspect-ratio"></i>
                            </div>
                            <span class="title">Parámetros</span>
                        </a>
                    </li>
                </ul>

                <div class="menubar-foot-panel">
                    <small class="no-linebreak hidden-folded">
                        <span class="opacity-75">Copyright &copy; 2017</span>
                        <strong>PlagAPP</strong>
                    </small>
                </div>
            </div>
        </div>
    </div>
</body>
