<body class="menubar-hoverable header-fixed menubar-pin ">
    <app-header></app-header>

    <div id="content" style="min-height:100vh">
        <section>
            <div class="section-body">
                <div class="row">
                    <form class="form form-validate" (submit)="newAdmin()" #newAdminForm="ngForm">
                        <div class="col-md-8 col-md-offset-2">

                            <div class="card">
                                <div class="card-head style-accent">
                                    <header>Nuevo Administrador</header>
                                </div>
                                <div class="card-body">

                                    <div class="form-group" style="text-align: -webkit-center;">
                                        <img class="img-circle img-responsive img-producto" [src]="data.image" alt="">
                                        <input [(ngModel)]="inputAvatar" (change)="updateAvatar($event)" type="file" accept="image/*" name="file" id="file" class="inputfile"
                                        />
                                        <label for="file" class="btn ink-reaction btn-floating-action btn-default-dark btn-edit" style="position: relative;box-shadow: 0 1px 3px 0 rgb(68, 68, 68);opacity: 1;">
                                            <i class="md md-edit"></i>
                                        </label>
                                    </div>
                                    <div class="row" *ngIf="isChangeAvatar">
                                        <div class="col-sm-8 text-center">
                                            <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
                                        </div>
                                        <div class="col-sm-4 text-center">
                                            <button type="button" class="btn ink-reaction btn-raised btn-primary btn-block" (click)="aceptarImagen()">Aceptar</button>
                                            <button type="button" class="btn btn-flat btn-primary ink-reaction btn-block" (click)="hideCrop()">Cancelar</button>
                                        </div>
                                    </div>

                                    <em class="text-caption text-right">Todos los campos marcados con (*) son obligatorios</em>

                                    <div class="col-md-6">
                                        <h3>Datos del la empresa</h3>
                                        <div class="form-group">
                                            <input class="form-control" id="rut" name="rut" type="text" required [(ngModel)]="json.rut">
                                            <label>*Rut empresa</label>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" id="nombre" name="nombre" type="text" required [(ngModel)]="json.nombre">
                                            <label>*Nombre empresa</label>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" id="razon" name="razon" type="text" required [(ngModel)]="json.razon">
                                            <label>*Razon social</label>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="resolucion" type="text" required [(ngModel)]="json.resolucion">
                                            <label>*Resolución</label>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" id="email" name="email" type="email" required [(ngModel)]="json.email">
                                            <label>*Email</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h3>&nbsp;</h3>
                                        <div class="form-group">
                                            <input class="form-control" id="direccion" name="direccion" type="text" required [(ngModel)]="json.direccion">
                                            <label>*Dirección</label>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="ciudad" type="text" required [(ngModel)]="json.ciudad">
                                            <label>*Ciudad</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input class="form-control" type="text" [(ngModel)]="json.fono" required name="fono">
                                                    <label>*Télefono</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input class="form-control" type="text" [(ngModel)]="json.fax" name="fax">
                                                    <label>Fax</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="web" type="text" [(ngModel)]="json.web">
                                            <label>Web</label>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input class="form-control"  name="r_representante" type="text" required [(ngModel)]="json.r_representante">
                                                    <label>*Rut del representante</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <input class="form-control" name="representante" type="text" required [(ngModel)]="json.representante">
                                                    <label>*Nombre del representante</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-actionbar">
                                    <div class="card-actionbar-row">
                                        <i class="fa fa-spinner fa-pulse fa-1x fa-fw" *ngIf="ifLoading"></i>
                                        <span *ngIf="ifLoading">Creando administrador</span>
                                        <button type="submit" class="btn ink-reaction btn-primary" [disabled]="!newAdminForm.form.valid">Crear administrador</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>

